<div class="container">

  <div *ngIf="!modelLoaded" class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar">
        <b class="progress-text">Loading Model...</b>
      </div>
    </div>
  </div>

 
  <div class="row">

    <div class="col-sm">
      
      <div [hidden]="!modelLoaded || !webBtnStatus" style="display: none">
        <video #videoElement width="{{ videoWidth }}" height="{{ videoHeight }}"></video>
      </div>

      <div [hidden]="!modelLoaded || videoCanvasEnable" class="col mb-3">
        <canvas id="canvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>
    
      <div *ngIf="videoCanvasEnable" >
        <canvas id="videoCanvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>

    </div>
    <div class="col-sm-1 distance-bar" *ngIf="distanceEstimationStart">
        <div class="distance-bar-progress" [style.height.%]="service.distancePer"></div>
    </div>
    <div class="col-sm">
      <p style="padding :20px;color:#fff;font-weight: 500;font-size: 90px; text-align: center;">
        {{ service.message }}
      </p>
      <div style="text-align: center;" *ngIf="image && !service.message">
        <img width="50" src="../assets/check.png"  />
        <h4  style="color: #fff;">Image Captured</h4>
        <img class="round-image" width="250px" [src]="image">
        <button class="button" (click)="startDistanceEsitmation()">
            Next
        </button>
      </div>
    </div>
  </div>






  
</div>