<div class="container">

  <!-- Loader -->
  <div *ngIf="!modelLoaded" class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar">
        <b class="progress-text">Loading Model...</b>
      </div>
    </div>
  </div>

 <!-- Main Screen -->
  <div class="row">

    <!-- Right side view -->
    <div class="col-sm">
      
      <div [hidden]="!modelLoaded || !webBtnStatus" style="display: none">
        <video #videoElement width="{{ videoWidth }}" height="{{ videoHeight }}"></video>
      </div>

      <div [hidden]="!modelLoaded || videoCanvasEnable" class="col mb-3">
        <canvas id="canvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>
    
      <div *ngIf="videoCanvasEnable" >
        <canvas id="videoCanvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>

    </div>
    
    <div class="col-sm-1 distance-bar" *ngIf="distanceEstimationStart">
        <div class="distance-bar-progress" [style.height.%]="service.distancePer"></div>
    </div>


    <!-- Left side view -->
    <div class="col-sm">

      <div style="font-size: 2.8rem;line-height: 1.1!important;margin-top: 9rem;text-align: center;" *ngIf="!image && service.message">
        <p>
          {{ service.message }}
        </p>
      </div>

      <div  *ngIf="image && !service.message" style="display: flex;flex-direction: column;align-items: center;align-content: space-between;">
        
        <!-- Image -->
        <div style="margin-top: 4rem;">
          <img class="round-image" width="200px" height="200px" [src]="image">
        </div>
        
        <!-- Checkboxes -->
        <div style="margin-top: 1rem;">
          <div>
            <label><input type="checkbox" value="imageCaptured" checked>&nbsp;
              Yes, I approve of this image</label>
          </div>
          <div >
              <label><input type="checkbox" value="">&nbsp;
                No, I want to re-capture again</label>
          </div>
        </div>

         
        <!-- Button -->
        <div style="margin-top: 3rem;">
          <button type="button" class="btn btn-outline-primary" style="width: 16rem;" (click)="startDistanceEsitmation()">
              Next
          </button>
        </div>

      </div>
    </div>

  </div>

</div>